
/* Vars */
@import "../../../build/foundations/bourgeois/variables";

/* Styles */
.Test {
  font-size: $size-font-foundation-xl;
  color: $color-foundation-brand-primary-base;
  user-select: none;
}