/**
 * Component Tokens
 *
 * [NOTE]: 'bourgeois' is the default brand. Used here for syntax highLighting.
 *   On compilation, will be replaced by configured brand.
 */
@import "../../../build/tokens/bourgeois/tokens.calendar";

/** Mixins */
@import "../../styles/mixins/clear-button-styles";

/**
 * Component Styles
 */
.Calendar {
  display: inline-block;
  height: calc(#{$size-spacing-calendar-date-cell} * 8);
  user-select: none;
  width: calc(#{$size-spacing-calendar-date-cell} * 7);

  &-heading {
    align-items: center;
    display: flex;
    height: $size-spacing-calendar-date-cell;
    justify-content: space-between;
  }

  &-navButton {
    @include clear-button-styles;

    fill: $color-text-calendar-nav-button-base;
    height: $size-spacing-calendar-date-cell;
    line-height: 0;
    width: $size-spacing-calendar-date-cell;

    &:hover {
      fill: $color-text-calendar-nav-button-hover;
    }

    &[disabled] {
      cursor: default;
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &-currentMonth {
    font-size: $size-font-calendar-heading;
    font-weight: 600;
  }

  &-page {
    display: grid;
    grid-template-columns: repeat(7, #{$size-spacing-calendar-date-cell});
  }

  &-weekDay {
    display: inline-block;
    font-size: $size-font-calendar-week-day;
    line-height: $size-spacing-calendar-date-cell;
    text-align: center;

    &.is-weekend {
      font-weight: 600;
    }
  }

  &-date {
    @include clear-button-styles;

    font-size: $size-font-calendar-date;
    line-height: $size-spacing-calendar-date-cell;
    transition-duration: 0.25s;
    transition-property: background-color;

    // Apply $shape-calendar-date-base or warns if contains an invalid value

    @if $shape-bounding-box-calendar-date == "circle" {
      border-radius: 50%;
    }

    @else if $shape-bounding-box-calendar-date != "square" {
      @warn "$shape-calendar-date-base: `#{$shape-bounding-box-calendar-date}` is not one of ['circle', 'square']";
    }

    &:hover {
      background-color: $color-background-calendar-date-hover;
      transition-duration: 0.1s;
    }

    &.is-selected {
      background-color: $color-background-calendar-date-selected;
      color: $color-text-calendar-date-selected;
      cursor: default;
      font-weight: 600;
      pointer-events: none;
      transition-duration: 0s;
    }

    &.is-from-another-month,
    &[disabled] {
      cursor: default;
      opacity: 0.25;
      pointer-events: none;
    }
  }
}
